configs:
  docker.io:
    auth:
      username: piper41955
      password: dckr_pat_kNFMGvjRG_l5Ro30GKT6-ELVFZk
  index.docker.io:
    auth:
      username: piper41955
      password: dckr_pat_kNFMGvjRG_l5Ro30GKT6-ELVFZk